img {
  max-width: 100%;
  display: block;
}

.preco {
  padding: 10px;
  background-color: rgba(128, 255, 0, 0.788);
  border-radius: 10px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 2em;
}

.containerImgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.containerDesc h1 {
  font-size: 2em;
}

.descricao {
  font-size: 1.2em;
}
